{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<section class="page-header page-header-xs">
    <div class="container" style="margin-top: 10px; margin-bottom: -10px">
        <ol class="breadcrumb breadcrumb-inverse">
            <li><a href="/">NL!A</a></li>
            <li class="active">рейтинг участников курса</li>
        </ol>
    </div>
</section>

<section>
    <div class="container">

        <div class="row">

            <!-- LEFT -->
            <div class="col-md-9 col-sm-9">
                <h1 class="blog-post-title">Основы бизнеса. Рейтинг участников курса</h1>
                <div id='app'>
                    <table id="nsubiz-score-table">
                        <tr v-for="(item, index) in data" :key='item.title' :class='colorClass(index)'>
                            <td>[[index+1]]</td>
                            <td>
                                <div :style="avatarStyle(item)" class="avatar"></div>
                            </td>
                            <td>
                                <div class="name">[[item.title]]</div>
                                <div class="points">[[(item.points)]] очков</div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

    </div>
</section>

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data() {
            return {
                data: [],
//                data: 'https://spreadsheets.google.com/feeds/list/1LjQN1-P3qRBzkn3v3QRtnEEhjWPANR5WTmkpuMkY0dQ/od6/public/values?alt=json'
            }
        },
        methods: {
            avatarStyle(item) {
                return `background: url('${item.avatar}') center no-repeat; background-size: cover`
            },
            colorClass(index) {
                if (index < 50) {
                    return 'group-first'
                }
                if (index >= 50 && index <= 89) {
                    return 'group-second'
                }
                if (index > 89) {
                    return 'group-third'
                }
            }
        },
        mounted() {
            // ссылка для узнавания id spreadsheet
            // https://spreadsheets.google.com/feeds/worksheets/1LjQN1-P3qRBzkn3v3QRtnEEhjWPANR5WTmkpuMkY0dQ/private/full
            let that = this
            axios
                .get('https://spreadsheets.google.com/feeds/list/1LjQN1-P3qRBzkn3v3QRtnEEhjWPANR5WTmkpuMkY0dQ/o125ii0/public/values?alt=json')
                .then(res => {
                    this.data = _.map(res.data.feed.entry, (v => {
                        const points = +v.gsx$points.$t + +v.gsx$task.$t
                        return {
                            title: v.gsx$stud.$t,
                            avatar: v.gsx$avatar.$t,
                            points: points ? points : 0
                        }
                    }))
                    this.data = _.sortBy(this.data, v => v.points * -1)
                    console.log('data:', this.data)
                })
        },
    })
</script>
{{ partial "footer.html" . }}